<div class="ranking-header">
  <h2 class="cyber-title">
    <span class="icon">🚀</span>
    TOP<br />10
  </h2>
  <div class="title-underline"></div>
</div>

<div class="ranking-table">
  <div *ngIf="cargando" class="loading-msg">
    Cargando ranking...
  </div>

  <div *ngIf="error" class="error-msg">
    {{ error }}
  </div>

  <div *ngIf="!cargando && !error && ranking.length === 0" class="no-data-msg">
    Sin datos aún.
  </div>

  <div class="table-row" *ngFor="let usuario of ranking; let i = index" [class.top1]="i===0" [class.top2]="i===1"
    [class.top3]="i===2">
    <span class="col-rank">{{ i + 1 }}.</span>
    <span class="col-name">{{ usuario.nombreUsuario }}</span>
    <span class="col-score">{{ usuario.victorias || 0 }}</span>
  </div>
</div>